* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input,
button {
    padding: 3px 5px
}

button {
    font-weight: bold;
}

.done {
    text-decoration: line-through;
}